# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
.venv/
.env/
.Python
.env

# Файлы с учетными данными
serviceAccountKey.json
*firebase-adminsdk*.json

# Логи
*.log

# Локальные настройки IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Virtual Environment
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env

# Firebase
paymentbotwb-firebase-adminsdk-fbsvc-d507c4544f.json 